<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">所属公司</label>
        <div class="col-xs-12 col-sm-4">
            <input id="company_id" data-rule="required" data-source="project/company" data-pagination="true" data-page-size="10" data-field="company_name" class="form-control selectpage" name="row[company_id]" type="text"  value="{$row.company_id|htmlentities}">
        </div> 
    </div>   -->

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">类型</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                <label for="row[type]-hidden">
                <input id="row[type]-hidden" name="row[type]" type="radio" value="0" {if($row.type == 0)} checked {/if}>文字</label>
                <label for="row[type]-normal">
                <input id="row[type]-normal"  name="row[type]" type="radio" value="1" {if($row.type == 1)} checked {/if}> 图片</label>
                <label for="row[type]-hidden">
                <input id="row[type]-hidden" name="row[type]" type="radio" value="2" {if($row.type == 2)} checked {/if}>友链</label>
            </div>
        </div>
    </div>
    
  
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">标题</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-title" data-rule="required" class="form-control" name="row[title]" type="text" value="{$row.title|htmlentities}">
        </div>
    </div>
   
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">URL链接</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-url"  class="form-control" name="row[url]" type="text" value="{$row.url|htmlentities}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">位置</label>
        <div class="col-xs-12 col-sm-8">
            {foreach name="flagList" item="vo"}
            <input type='checkbox'  value="{$key}" {in name="key" value="$row.flag"}checked="checked"{/in} name="row[flag][]"><label>{$vo}</label>
            {/foreach}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">权重排序</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-weigh" class="form-control" name="row[weigh]" type="number" value="{$row.weigh|htmlentities}">
        </div>
    </div>

    <div class="form-group" id="img">
        <label class="control-label col-xs-12 col-sm-2">图片</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-image" class="form-control" size="50" name="row[image]" type="text" value="{$row.image|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-image" class="btn btn-danger plupload" data-input-id="c-image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <!-- <span><button type="button" id="fachoose-image" class="btn btn-primary fachoose" data-input-id="c-image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span> -->
                </div>
                <span class="msg-box n-right" for="c-image"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-image"></ul>
        </div>
    </div>

    <div class="form-group" id="nofo">
        <label class="control-label col-xs-12 col-sm-2">nofollow</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                <label for="row[nofollow]-normal">
                <input id="row[nofollow]-normal" {if($row.nofollow == 0)} checked="checked" {/if} name="row[nofollow]" type="radio" value="1"> 显示</label>
                <label for="row[nofollow]-hidden">
                <input id="row[nofollow]-hidden" {if($row.nofollow == 1)} checked="checked" {/if} name="row[nofollow]" type="radio" value="0">隐藏</label>
            </div>
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">状态</label>
        <div class="col-xs-12 col-sm-8">

            <input id="c-switch" name="row[switch]" type="hidden" value="{$row.switch}">
            <a href="javascript:;" data-toggle="switcher" class="btn-switcher" data-input-id="c-switch" data-yes="1" data-no="0">
                <i class="fa fa-toggle-on text-success {eq name=" $row.switch " value="0 "}fa-flip-horizontal text-gray{/eq} fa-2x"></i>
            </a>
        </div>
    </div>
    
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>

<script type="text/javascript" src="__CDN__/static/home/js/jquery.js"></script>
<script>
$(document).ready(function(){


    var type = $('input[name="row[type]"]:checked').val(); 
        if(type !=1 ){ //文字类型
            $('#c-image').val('');
            var a  = $('#c-image').val();   //清空图片地址
            $('.col-xs-3').remove(); //删除预览图
            $('#img').hide();   //隐藏上传控件
            $('#nofo').hide();   //隐藏nofo
        }else  if(type == 1){  //图片类型
            $('#img').show();
            $('#nofo').hide();   //隐藏nofo
        }else if(type == 2){
            $('#nofo').show();   //显示nofo
            $('#flags').hide();   //隐藏位置
        }else{
            $('#nofo').hide();   //隐藏nofo
            $('#flags').show();   //显示位置
        }

    

    $("input[name=row[type]]").click(function(){  
        var type = $('input[name="row[type]"]:checked').val(); 
        if(type == 1){  //图片类型
            $('#img').show();
        }
        if(type != 1){ //文字类型
            $('#c-image').val('');
            var a  = $('#c-image').val();   //清空图片地址
            $('.col-xs-3').remove(); //删除预览图
            $('#img').hide();   //隐藏上传控件
        }
        if(type == 2){
            $('#nofo').show();   //显示nofo
            $('#flags').hide();   //隐藏位置
        }else{
            $('#nofo').hide();   //隐藏nofo
            $('#flags').show();   //显示位置
        }
    });


});
</script>

