<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{$tdk[3]->title}</title>
    <meta content="{$tdk[3]->description}" name="description" />
    <meta content="{$tdk[3]->keyword}" name="keywords" />
    <link href="__CDN__/static/mobile/css/projectpage.css" rel="stylesheet">
      
    {include file="mobile/head"}
    
</head>

<body>
        {include file="mobile/header"}
        
    

    <div class="latestin3"  >
            <div class="title">热门项目</div>
            <div class="bg">
                <div class="tab">
                    <ul>
                   
                        {volist name="project_cate" id="c"}
                        <li class="" style="width:20%;"><a href="{:url('/project')}/{$c.id}">{$c.name}</a></li>
                        {/volist}
                    </ul>
                </div>
                <div class="swiper-container">
                        <div class="swiper-wrapper" style="height: 100%;">
                            <!-- <div class="swiper-slide"> -->
                                <div class="content">
                                    <ul style="height: 100%;">
                                            {volist name="category" id="c"}
                                            <li ><a href="{:url('/project')}/{$c.pid}/{$c.id}">{$c.name}</a></li>
                                        {/volist}
                                    </ul>
                                </div>
                            <!-- </div> -->
                        </div>
                    </div>
               
            </div>
        </div>

        <div class="projectPage" style="margin-top: 10px;" >
                <div class="contentList">
                    <div class="bg">
                        <ul class="asd">
                                {volist name="projects" id="p"}
                            <li>
                                <div class="img">
                                    <a href="{:url('/project_detail')}/{$p.id}" rel="nofollow">
                                        <img class="lazy" src="{$p.image}">
                                     </a>
                                </div>
                                <div class="text">
                                    <div class="left">
                                        <div class="title">
                                            <h2><a href="{:url('/project_detail')}/{$p.id}">{$p.name}</a>
                                            </h2>
                                        </div>
                                        <div class="price"> ￥  
                                             {if($p.price == 1 )}
                                                1-3万
                                                {elseif($p.price == 2)}
                                                3-5万
                                                {elseif($p.price == 3)}
                                                5-10万
                                                {elseif($p.price == 4)}
                                                10万以上
                                            {/if}
                                        </div>
        
                                        <div class="smallTab">
                                            <a class="tag">{$name1.name}</a>
                                            {if($name2.name != null)}
                                             <a  class="tag">{$name2.name}</a>
                                            {/if}
                                            <a >{$p.areaname}</a></div>
                                        <div class="desc">招商区域：{$p.city}</div>
                                    </div>
                                    <div class="right">
                                        <div class="join">
                                            <a href="{:url('/project_detail')}/{$p.id}"> <button class="btn-confirm">申请加盟</button></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {/volist}
                        </ul>
                                
                    </div>
                </div>
            </div>
            

    {$project->render()}

    {include file="mobile/footer"}



</html>
