<!--
 * @Descripttion: 
 * @Author: Jason
 * @Date: 2019-11-30 17:48:48
 * @LastEditTime: 2019-12-02 11:04:11
 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{$tdk[5]->title}</title>
    <meta content="{$tdk[5]->description}" name="description" />
    <meta content="{$tdk[5]->keyword}" name="keywords" />
    <link rel="stylesheet" href="__CDN__/static/mobile/css/swiper.css">
    <script src="__CDN__/static/mobile/js/jquery.js"></script>
    <script src="__CDN__/static/mobile/js/jquery.lazyload.js"></script>
    <script src="__CDN__/static/mobile/js/swiper.js"></script>
    <script src="__CDN__/static/mobile/js/common.js"></script>
    <link rel="stylesheet" href="__CDN__/static/mobile/css/common.css">
    <script src="__CDN__/static/mobile/js/ranking.js"></script>
    <link href="__CDN__/static/mobile/css/ranking.css" rel="stylesheet">
</head>

<body>

        {include file="mobile/header"}

     
  
    <section class="big-classification clearfix" style="padding-top:27px"></section>


    {volist name="data" id="one"}
    <section class="merchants">
        <div class="ponge-title">
            <h1>
                <img src="{$one.image}">
                {$one.name} 
                <span>TOP10</span>
            </h1>
        </div>
        <ul class="commonlistmerchants">
                {volist name="one.project" id="p"}
            <li>
                <div class="followImg" href="{:url('/project_detail')}/{$p.id}">
                    <div class="img">
                        <a rel="nofollow" href="{:url('/project_detail')}/{$p.id}"><img class="lazy"
                                src="{$p.image}"></a>
                    </div>
                    <div class="text">
                        <div class="top">
                            <div class="title"><a href="{:url('/project_detail')}/{$p.id}">{$p.name}</a></div>
                            <div class="price">
                                <a>
                                    {if($p.price == 1 )}
                                    ￥1-3万
                                    {elseif($p.price == 2)}
                                    ￥3-5万
                                    {elseif($p.price == 3)}
                                    ￥5-10万
                                    {elseif($p.price == 4)}
                                    ￥10万以上
                                {/if}
                            </a>
                        </div>
                        </div>
                        <div class="desc"><a>{$p.description}</a></div>
                    </div>
                    <div class="level">TOP{$key+1}</div>
                </div>
            </li>
            {/volist}

        </ul>
    </section>
    {/volist}
   
    {include file="mobile/footer"}


    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?912f17081295b3c5623472573e1a1a7e";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <script>
        (function () {
            var src = "https://jspassport.ssl.qhimg.com/11.0.1.js?d182b3f28525f2db83acfaaf6e696dba";
            document.write('<script src="' + src + '" id="sozz"><\/script>');
        })();
    </script>

    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?5294d4276f52adb2e38d1599fd6e2815";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</body>

</html>