<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    {include file="menber/common/head"/}
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-row">
            <form class="layui-form">

                <div class="layui-form-item">
                </div>

                <div class="layui-form-item">
                    <label for="title" class="layui-form-label">
                        <span class="x-red">*</span>账号</label>
                    <div class="layui-input-inline">
                        <input type="text" id="title" value="{$user.username|htmlentities}" readonly="readonly"
                            autocomplete="off" class="layui-input"></div>
                </div>


                <div class="layui-form-item">
                    <label for="title" class="layui-form-label">
                        <span class="x-red">*</span>密码</label>
                    <div class="layui-input-inline">
                        <input type="text" id="title" name="password" placeholder="不改留空" class="layui-input"></div>
                </div>

                <div class="layui-form-item">
                    <label for="title" class="layui-form-label">
                        <span class="x-red">*</span>公司名称</label>
                    <div class="layui-input-inline">
                        <input type="text" id="company_name" name="company_name"
                            value="{$user.company_name|htmlentities}" autocomplete="off" class="layui-input"></div>
                </div>

                <div class="layui-form-item">
                    <label for="title" class="layui-form-label">
                        <span class="x-red">*</span>邮箱</label>
                    <div class="layui-input-inline">
                        <input type="text" id="title" name="email" value="{$user.email|htmlentities}" autocomplete="off"
                            class="layui-input"></div>
                </div>
                <div class="layui-form-item">
                    <label for="title" class="layui-form-label">
                        <span class="x-red">*</span>手机号</label>
                    <div class="layui-input-inline">
                        <input type="text" id="title" name="mobile" value="{$user.mobile|htmlentities}"
                            autocomplete="off" class="layui-input"></div>
                </div>
                <div class="layui-form-item">
                <label for="title" class="layui-form-label">
                        <span class="x-red">*</span>公司地址</label>
                    <div class="layui-input-inline">
                        <input type="text" id="title" name="address" value="{$user.address|htmlentities}"
                            autocomplete="off" class="layui-input"></div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label for="desc" class="layui-form-label">公司介绍</label>
                    <div class="layui-input-block">
                        <!-- 加载编辑器的容器 -->
                        <script id="container" name="company_desc" type="text/plain">{$user.company_desc}</script>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label"></label>
                    <button class="layui-btn" lay-filter="add" lay-submit="">提交</button></div>
            </form>
        </div>
    </div>

    <!-- 配置文件 -->
    <script type="text/javascript" src="__CDN__/static/ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="__CDN__/static/ueditor/ueditor.all.js"></script>

    <script>
        layui.use(['form', 'layer', 'upload'],
            function () {
                $ = layui.jquery;
                var form = layui.form,
                    layer = layui.layer,
                    upload = layui.upload;


                // 实例化编辑器 
                var editor = UE.getEditor('container');
                UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;
                UE.Editor.prototype.getActionUrl = function (action) {
                    console.log(action);
                    if (action == 'uploadimage' || action == 'uploadscrawl' || action == 'uploadimage') {
                        return "{:url('ajax/upload')}";//此处写自定义的图片上传路径
                    } else if (action == 'uploadvideo') {
                        return '';
                    } else {
                        return this._bkGetActionUrl.call(this, action);
                    }
                }   
                //监听提交
                form.on('submit(add)', function (data) {
                    //文本编辑器内容
                    data.field.company_desc = editor.getContent();

                    $.ajax({
                        type: "post",
                        async: false,
                        url: "{:url('menber/user/profile')}",
                        //后台数据处理-下面有具体实现
                        data: data.field,
                        success: function (res) {
                            console.log(res);
                            if (res.code == 1) {
                                layer.msg(res.msg, { icon: 1, time: 1000 });
                                //关闭当前frame
                                setTimeout(function () {
                                    xadmin.close();
                                }, 1000)
                            } else {
                                layer.msg(res.msg, { icon: 2, time: 1300 });
                            }
                        }
                    });
                    return false;
                });

            });

    </script>
</body>

</html>