<!--
 * @Descripttion: 
 * @Author: Jason
 * @Date: 2019-11-06 17:40:24
 * @LastEditTime: 2019-11-19 15:42:49
 -->
{include file="common/head" /}
<link href="__CDN__/assets/css/frontend{$Think.config.app_debug?'':'.min'}.css?v={$Think.config.site.version}" rel="stylesheet">

<div class="main">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="x_bottom" style="margin-bottom:8px">
        <tbody>
            <tr>
                <td width="33%" height="60"> <a href="http://3158.zzcms.net"><img src="http://3158.zzcms.net/image/logo.png" border="0" onload="javascript:if(this.width>220) this.width=220;"></a></td>
                <td width="67%" align="right" valign="bottom">
                    <table width="87%" height="50" border="0" cellpadding="3" cellspacing="0">
                        <tbody>
                            <tr>
                                <td width="89%" align="right" valign="top">
                                    <a target="blank" href="http://wpa.qq.com/msgrd?v=1&amp;uin=357856668&amp;Site=zzcms项目加盟模板演示站&amp;Menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=1:357856668:4" alt="在线客服QQ">在线客服QQ:357856668</a>
                                    客服电话:400-728-9861</td>
                            </tr>
                            <tr>
                                <td align="right" valign="bottom" style="color:cccccc"><a href="{:url('/')}">首页</a>&nbsp;|&nbsp;<a href="{:url('/help')}">帮助</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div id="content-container" class="container">
    <div class="user-section login-section">
        <div class="logon-tab clearfix"> <a href="{:url('menber/user/login')}">{:__('Sign in')}</a> <a class="active">{:__('Sign up')}</a> </div>
        <div class="login-main">
            <form name="form1" id="register-form" class="form-vertical" method="POST" action="">
                <input type="hidden" name="invite_user_id" value="0" />
                <input type="hidden" name="url" value="{$url}" /> {:token()}

                <div class="form-group">
                    <label class="control-label">账号</label>
                    <div class="controls">
                        <input type="text" id="username" name="username" data-rule="required;username" class="form-control input-lg" placeholder="请填写账号">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">密码</label>
                    <div class="controls">
                        <input type="password" id="password" name="password" data-rule="required;password" class="form-control input-lg" placeholder="请填写密码">
                        <p class="help-block"></p>
                    </div>
                </div>
               
                <div class="form-group">
                    <label class="control-label">手机号</label>
                    <div class="controls">
                        <input type="text" id="mobile" name="mobile" data-rule="required;mobile" class="form-control input-lg" placeholder="请填写正确的手机号码">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span></div>
                    <input type="text" name="captcha" class="form-control input-lg" placeholder="验证码" data-rule="{:__('Captcha')}:required;length(4)" />
                    <span class="input-group-addon" style="padding:0;border:none;cursor:pointer;">
                        <img src="{:rtrim('__PUBLIC__', '/')}/index.php?s=/captcha" width="100" height="40" onclick="this.src='{:rtrim('__PUBLIC__', '/')}/index.php?s=/captcha&r=' + Math.random();"/>
                    </span>
                </div>
                <br/>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">{:__('Sign up')}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{include file="common/footer" /}