<!--
 * @Descripttion: 
 * @Author: Jason
 * @Date: 2019-11-07 17:54:34
 * @LastEditTime: 2019-12-01 16:18:56
 -->
<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$tdk[6]->title}</title>
    <meta content="{$tdk[6]->description}" name="description" />
    <meta content="{$tdk[6]->keyword}" name="keywords" />
    {include file="common/head"/}
    <!-- <link href="__HOME__/css/style.css" rel="stylesheet" type="text/css" /> -->
</head>

<body>

    {include file="common/header"/}

    <div class="main">
        <div class="pagebody">
            <div class="left">
                <div class="station2">
                    <li class='start'><a href="/">首页</a></li>
                    <li><a href="{:url('/article')}">资讯</a></li>
                </div>
         

                <div class="content">
                    <div class="boxbigclass">
                        {volist name="data" id="a"}
                        <div style="width: 870px;margin-bottom: 20px;margin-bottom:10px">
                            {if($a.image != null)}
                            <img src="{$a.image}" style="width: 200px;height: 130px;float: left;margin-right: 10px;" />
                            {/if}
                            <div class="bigbigword2">
                                <a href="{:url('/article_detail')}/{$a.category_id}/{$a.id}">{$a.title}</a>
                                <span style="float: right;">{$a.createtime|date='Y-m-d',###}</span>
                            </div>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$a.desc}    
                             <a href="{:url('/article_detail')}/{$a.category_id}/{$a.id}">[ 查看... ]</a>
                           <br/>  阅读量：{$a.views}
                        
                        </div>
                        {/volist}
                    </div>

                    {$data->render()}
                </div>

            </div>
   
        </div>
    </div>

    {include file="common/footer" /}
</body>

</html>