<!--
 * @Descripttion: 
 * @Author: Jason
 * @Date: 2019-11-07 17:50:44
 * @LastEditTime: 2019-11-07 17:50:58
 -->
<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{$tdk[4]->title}</title>
    <meta content="{$tdk[4]->description}" name="description" />
    <meta content="{$tdk[4]->keyword}" name="keywords" />
    <link href="__CDN__/static/home/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="main">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="x_bottom" style="margin-bottom:8px">
            <tr>
                <td width="33%" height="60"> <a href="/"><img src="{$web.web_logo}" border="0" onload='javascript:if(this.width>220) this.width=220;'></a></td>
                <td width="67%" align="right" valign="bottom">
                    <table width="87%" height="50" border="0" cellpadding="3" cellspacing="0">
                        <tr>
                            <td width="89%" align="right" valign="top">
                                <a target=blank href=http://wpa.qq.com/msgrd?v=1&uin=357856668&Site=zzcms项目加盟模板演示站&Menu=yes><img border="0" src=__CDN__/static/home/picture/419f0e821e024082b0cbe95260b93e8b.gif alt="在线客服QQ">在线客服QQ:357856668</a>
                                客服电话:{$web.web_phone|substr=0,3}-{$web.web_phone|substr=3,4}-{$web.web_phone|substr=7,4}</td>
                        </tr>
                        <tr>
                            <td align="right" valign="bottom" style="color:cccccc"><a href="/">首页</a>&nbsp;|&nbsp;<a href="{:url('/help')}">帮助</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <div class="bordercccccc" style="margin-bottom:10px">
            <div class="titlebig">帮助中心
                <a name="ding" id="ding"></a>
            </div>
            <div style="zoom: 1; overflow:auto;padding:10px">
                <ul>
                    {volist name="data" id="vo"}
                    <LI style="float:left;width:500px">【帮助】
                        <A href="{:url('/help')}#{$vo.id}">{$vo.title}</A>
                    </LI>
                    {/volist}
                </ul>
            </div>
        </div>

        {volist name="data" id="h"}
        <div class="titles"><span><a href="#ding">↑返回到顶部</a></span>
            <a name="{$h.id}"></a>
            <h3>{$h.title}</h3>
        </div>
        <div class="content1">
            <p>
           {$h.content}
            </p>
        </div>
        {/volist}


    </div>

    {include file="common/footer" /}
</body>

</html>