<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>图片广告</title>
    <link href="__CDN__/static/home/css/style.css" rel="stylesheet" type="text/css">
</head>
<style>
.txt{
    float: left;
    font-size: 16px;
    margin-bottom: 5px;
}
.txtbox{
    background-color:#fff ;
    float: left;
    padding-bottom: 30px;
}
</style>
<body>
    <div class="main">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="x_bottom" style="margin-bottom:8px">
            <tr>
                <td width="33%" height="60"> <a href="/"><img src="{$web.web_logo}" border="0" onload='javascript:if(this.width>220) this.width=220;'></a></td>
                <td width="67%" align="right" valign="bottom">
                    <table width="87%" height="50" border="0" cellpadding="3" cellspacing="0">
                        <tr>
                            <td width="89%" align="right" valign="top">
                                <a target=blank href=http://wpa.qq.com/msgrd?v=1&uin={$web.web_qq}&Site={$web.web_name}&Menu=yes>在线客服QQ:{$web.web_qq}</a>
                                客服电话：{$web.web_phone|substr=0,3}-{$web.web_phone|substr=3,4}-{$web.web_phone|substr=7,4}</td>
                        </tr>
                        <tr>
                            <td align="right" valign="bottom" style="color:cccccc"><a href="/">首页</a>&nbsp;|&nbsp;<a href="/help">帮助</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        
        
            <div class="pagebody">
                <!-- 图文广告-->
                <div class="left">
                    <div class="titles">
                        <h3>图片广告</h3>
                    </div>
                    <div class="adStyle2">
                        <ul>
                            {volist name="image" id="a"}
                            <li>
                                <a href="{$a.url}" target="_blank" >
                                    <img data-original="{$a.image}" title="{$a.title}" src="{$a.image}" style="height:94px;"
                                        style="display: inline;">
                                </a>
                            </li>
                            {/volist}
                        </ul>
                    </div>
                    {$image->render()}
                     <!-- 图文广告 -->
                    
                    <!-- 文字链接 -->
                    <div class="titles">
                        <h3>文字链接</h3>
                    </div>
                    <div class="txtbox">
                       <ul >
                                {volist name="text" id="e"}
                                <li class="txt">
                                    　<a href="{$e.url}"   target='_blank'>{$e.title}</a>　|　
                                </li>
                                {/volist}
                        </ul>
                    </div><br/>
                    {$text->render()}
                    <!-- 文字链接 -->
                </div>


                <div class="right">
                    
                    <div class="titles"><span>&nbsp;</span>
                        <h3>热门项目</h3>
                    </div>
                    <div class="content1">
                        <ul>
                            {volist name="$project.hot" id="h"}
                            <li><span style="width:80px" title="阅832次">({$h.views})</span>
                                <font {if($key == 0 || $key == 1 || $key==2)}class="xuhao1"{/else}class="xuhao2"{/if}>{$key+1}</font>
                                <a target="_bank" href="{:url('/project_detail')}/{$h.id}">{$h.name}</a>
                            </li>
                            {/volist}
                        </ul>
                    </div>
    
                    <div class="titles"><span>&nbsp;</span>
                        <h3>推荐项目</h3>
                    </div>
                    <div class="content1">
                        <ul>
                            {volist name="$project.rec" id="r"}
                            <li><span style="width:80px">({$r.views})</span>
                                <font  {if($key == 0 || $key == 1 || $key==2)}class="xuhao1" {/if}>{$key+1}</font>
                                <a target="_bank" href="{:url('/project_detail')}/{$r.id}">{$r.name}</a>
                            </li>
                            {/volist}
                        </ul>
                    </div>
                </div>
            </div>
            
    </div>

    {include file="common/footer" /}
</body>

</html>