<!DOCTYPE html>
<html class="x-admin-sm">

<head>
	{include file="menber/common/head"/}
</head>

<body>
	<div class="x-nav">
		<span class="layui-breadcrumb">
			<a href="">首页</a>
			<a href="">演示</a>
			<a>
				<cite>导航元素</cite></a>
		</span>
		<a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
			onclick="location.reload()"  id="refrsesh"title="刷新">
			<i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
		</a>
	</div>
	<div class="layui-fluid">
		<div class="layui-row layui-col-space15">
			<div class="layui-col-md12">
				<div class="layui-card">

					<table class="layui-hide" id="article" lay-filter="article"></table>

				</div>
			</div>
		</div>
	</div>
</body>

<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">
  <button class="layui-btn" onclick="xadmin.open('发布文章','{:url('menber/article/add')}',900,800)" >发布文章</button>
  <button class="layui-btn layui-btn-danger" lay-event="getCheckData">批量删除</button>
  </div>
</script>

<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-xs" lay-event="edit" onclick="xadmin.open('发布文章','{:url('menber/article/edit')}/{{d.id}}',900,800)">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"  href="javascript:;">删除</a>
</script>


<script>

	layui.config({
		base: '__CDN__/static/home/layui/lay/modules/'      //自定义layui组件的目录
	});

	layui.use(['table', 'common'], function () {
		var table = layui.table,
			tools = layui.common;

		table.render({
			elem: '#article'
			, url: "{:url('menber/article/list')}"
			, toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
			, defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
				title: '提示'
				, layEvent: 'LAYTABLE_TIPS'
				, icon: 'layui-icon-tips'
			}]
			, title: '用户数据表'
			, cols: [[
				{ type: 'checkbox', fixed: 'left' }
				, { field: 'id', title: 'ID', width: 80, fixed: 'left', unresize: true, sort: true }
				, { field: 'cname', title: '分类', width: 120, }
				, { field: 'image', title: '图片', }
				, { field: 'title', title: '标题', }
				, { field: 'tdk_title', title: 'tdk-title', }
				, { field: 'tdk_key', title: 'tdk-keywords' }
				, { field: 'tdk-desc', title: 'tdk-description', }
				, { field: 'views', title: '点击率', }
				, { field: 'createtime', title: '创建时间', }
				, { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150 }
			]]
			, page: true
		});


		table.on('toolbar(article)', function (obj) {
			tools.delAll_ajax('post', "{:url('/menber/article/del')}", table,obj);
		});

		//监听行工具事件
		table.on('tool(article)', function (obj) {
			var ids = obj.data.id;
			if (obj.event === 'del') {
				tools.del_ajax('post', "{:url('/menber/article/del')}", ids, obj);
			} else if (obj.event === 'edit') {
			
			}
		});
	});
</script>


</html>