
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link href="__CDN__/static/mobile/css/swiper.css" rel="stylesheet">
<script src="__CDN__/static/mobile/js/jquery.js"></script>
<script src="__CDN__/static/mobile/js/layer.js"></script>
<script src="__CDN__/static/mobile/js/jquery.lazyload.js"></script>
<script src="__CDN__/static/mobile/js/swiper.js"></script>
<script src="__CDN__/static/mobile/js/common.js"></script>
<script src="__CDN__/static/mobile/js/index.js"></script>
<link href="__CDN__/static/mobile/css/common.css" rel="stylesheet">
<link href="__CDN__/static/mobile/css/index.css" rel="stylesheet">