<!--
 * @Descripttion: 
 * @Author: Jason
 * @Date: 2019-11-10 10:08:05
 * @LastEditTime: 2019-11-10 10:11:37
 -->

<script language="JavaScript" src="__CDN__/static/mobile/js/divselect.js"></script>
	<script type="text/javascript">
		$(function () {
			$.divselect("#divselect", "#inputselect");
		});
	</script>
	<div class="top1">
	 您好！欢迎来到 {$web.web_name}站！电话：{$web.web_phone|substr=0,3}-{$web.web_phone|substr=3,4}-{$web.web_phone|substr=7,4}
			<a href="{:url('/help')}">帮助</a>
	</div>
	<div class="top2">
		<span>
			<form action="{:url('/search')}"" method="post">
				<div id="divselect">
					<cite>招商</cite>
					<ul>
						<li><a href="javascript:;" selectid="project">招商</a></li>
						<li><a href="javascript:;" selectid="article">资讯</a></li>
					</ul>
				</div>
				<input name="type" type="hidden" value="project" id="inputselect" />
				<input name="keyword" type="text" class="biaodan_search" x-webkit-speech />
				<input type="submit" class="buttons_search" value="搜索" />
			</form>
		</span>

		<div class="bigbigword3"><a href="/index.php"><img src="{$web.web_logo}" height="33"
					width="115"></a></div>
	</div>

	<div class="nav">
		<ul>
                {volist name="project_cate" id="c"}
                <li>
                    <a href="{:url('/project')}/{$c.id}">
                        <img src="{$c.image}">
                        <h2>{$c.name}</h2>
                    </a>
				</li>
				{/volist}
				<li><a href="{:url('/article')}">   <img src=""><h2>资讯</h2></a></li>
				<li><a href="{:url('/ranking')}">   <img src=""><h2>排行</h2></a></li>
				<li><a href="{:url('/help')}">   <img src=""><h2>帮助</h2></a></li>
		</ul>
	</div>