<!--
 * @Descripttion: 
 * @Author: Jason
 * @Date: 2019-11-30 16:29:56
 * @LastEditTime: 2019-12-01 16:20:14
 -->
<header class="header">
        <div class="left">
            <div class="logo">
                    <a href="/">
                        <img src="{$web.web_logo}">
                    </a>
            </div>
            <div class="return">
                <a href="javascript:history.go(-1);">
                    <img src="__CDN__/static/mobile/picture/c27e82981d1f8cf843cb80c467ca4d4d.png">
                </a>
            </div>
        </div>
        <div class="title">项目库</div>
        <div class="search">
            <form action="{:url('/search')}" method="post">
                <select name="type" style="width: 60px;height: 25px;font-size: 12px;border: 0px;background-color: rgb(241, 238, 238);">
                        <option value="project" selected>招 商</option>
                        <option value="article">资 讯</option>
                    </select>
                <input placeholder="感兴趣的品牌项目" class="search-input" type="text" value="" name="keyword">
                <span><img src="__CDN__/static/mobile/picture/24e35ae249e906015475e3040991b772.png"></span>
                <input class="submit-input" type="submit">
            </form>
        </div>
    </header>