<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<link rel="Shortcut Icon" href="favicon.ico" />
<link href="__CDN__/static/mobile/css/style.css" rel="stylesheet" type="text/css">
<link href="__CDN__/static/mobile/css/jdimg2.css" rel="stylesheet" type="text/css">
<script language="JavaScript" src="__CDN__/static/mobile/js/jquery.js"></script>
<script src="__CDN__/static/mobile/js/jquery.lazyload.js"></script>
<script src="__CDN__/static/mobile/js/slider.js" type="text/javascript" language="JavaScript"></script><!--焦点广告效果JS-->
