<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$tdk[1]->title}</title>
    <meta content="{$tdk[1]->description}" name="description" />
    <meta content="{$tdk[1]->keyword}" name="keywords" />
    <link href="__CDN__/static/home/css/style.css" rel="stylesheet" type="text/css">
    <link href="__CDN__/static/home/css/jdimg.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__CDN__/static/home/js/jquery.js"></script>
    <script type="text/javascript" src="__CDN__/static/home/js/jdimg.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.focus("#focus001");
            $.focus("#focus002");
        });
    </script>
    <style type="text/css">
        .focus {
            width: 300px;
            height: 315px;
        }

        .focus img {
            border: 0;
            width: 300px;
            height: 315px;
        }

        .focus ul li {
            width: 300px;
            height: 315px;
        }

        .focus .btnBg {
            display: block;
        }

        .focus .btnBg {
            width: 300px;
        }

        .focus .btn {
            width: 300px;
        }
    </style>
</head>

<body>
    <script language="JavaScript" src="__CDN__/static/home/js/qt.js"></script>
    {include file="common/header" /}

    <div class="main">
        <div class="pagebody">
            <div class="left">
                <div>
                    <ul>
                        <li id="leftleft">
                            <div class="focus" id="focus001">
                                <ul>
                                    {volist name="slide" id="s"}
                                    <li>
                                        <a href="{:url('/article_detail')}/{$s.category_id}/{$s.id}"
                                            target="_blank"><img src="{$s.image}" /></a>
                                        <div class="divtitle">{$s.title}</div>
                                    </li>
                                    {/volist}
                                </ul>
                            </div>
                        </li>
                        <li id="leftright">

                            <div class="boxtop3">
                                <table border="0" cellspacing="0" cellpadding="0">
                                    {volist name="hot" id="h"}
                                    <tr>
                                        <td>
                                            <div class="bigbigword2 center">
                                                <A href="{:url('/article_detail')}/{$h.category_id}/{$h.id}"
                                                    target="_blank">{$h.title}</a>
                                            </div>
                                            <div style="padding-bottom:10px">{$h.desc}</div>
                                        </td>
                                    </tr>
                                    {/volist}
                                </table>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right">

                <div class="titles4">推荐资讯</div>
                <div class="content1">
                    <ul>
                        {volist name="recommend" id="r"}
                        <LI><span style='width:80px' title="阅832次">(832)</span>
                            <font {if($key==0 ||$key==1 ||$key==2)} class=xuhao1 {else/}class=xuhao2{/if}>{$key+1}
                                </font> <A href="{:url('/article_detail')}/{$r.category_id}/{$r.id}">
                                {$r.title|mb_substr=0,11}...</A>
                        </LI>
                        {/volist}
                    </ul>
                </div>

            </div>
        </div>



        <div class='titles'>
            <span></span>图片资讯
        </div>
        <ul>
            {volist name="image" id="i"}
            <li style='width:50%;float: left;' valign="top">
                <div class='content2'>
                    <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td height="90px">
                                <table border="0" cellspacing="1" cellpadding="0" class="bgcolor2">
                                    <tr>
                                        <td bgcolor="#FFFFFF" align="center" height="90px" width="100px">
                                            <a href="{:url('/article_detail')}/{$i.category_id}/{$i.id}"
                                                target="_blank">
                                                <img src="{$i.image}" width="150px" height="110px">
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style='padding-left:5px'>
                                <a href="{:url('/article_detail')}/{$i.category_id}/{$i.id}" target="_blank">
                                    <b>{$i.title}</b><br>
                                </a>
                                {$i.desc}<a href="{:url('/article_detail')}/{$i.category_id}/{$i.id}">[ 查看... ]</a>
                            </td>
                        </tr>

                    </table>
                    <div class="boxxian"></div>
                </div>
            </li>
            {/volist}
        </ul>

        <div class="bordercccccc">
            <table width="100%" border="0" cellspacing="10" cellpadding="0">
                {volist name="home" id="h"}
                {if($key%3 == 0)} <tr>{/if}
                    <td style='width:33%;' valign="top">
                        <div class='titles'><span><a href="{:url('/article_list')}/{$h.id}"> 更多...</a></span>{$h.name}</div>
                        <div class='content2'>
                            <ul>
                                {volist name="h.content" id="c"}
                                <LI>
                                    <font {if($key==0 ||$key==1 ||$key==2)} class=xuhao1
                                        {else/}class=xuhao2{/if}>{$key+1} </font> <A
                                        href="{:url('/article_detail')}/{$c.category_id}/{$c.id}">{$c.title}</A>
                                </LI>
                                {/volist}
                            </ul>
                        </div>
                    </td>
                    {if($key%3 == 2)}</tr>{/if}
                {/volist}
            </table>
        </div>





        <div class="box" style="margin-top:8px">
            声明：本站部分图文内容取自互联网。您若发现有侵犯您著作权行为，请及时告知，我们将在第一时间删除侵权作品、停止继续传播。
        </div>
    </div>


    {include file="common/footer" /}
</body>

</html>