<!--
 * @Descripttion: 
 * @Author: Jason
 * @Date: 2019-11-07 17:50:06
 * @LastEditTime: 2019-11-08 10:32:18
 -->
<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$tdk[2]->title}</title>
    <meta content="{$tdk[2]->description}" name="description" />
    <meta content="{$tdk[2]->keyword}" name="keywords" />
    {include file="common/head"/}
</head>

<body>

    {include file="common/header"/}

    <div class="main">
        <div class="pagebody">
            <div class="left">
                <div class="station2">
                    <li class='start'><a href="/">首页</a></li>
                    <li><a href="{:url('/article')}">资讯</a></li>
                    <li>{$name.name}</li>
                </div>
         

                <div class="content">
                    <div class="boxbigclass"></div>

                    {volist name="data" id="a"}
                    <div class="bigbigword2"><a href="{:url('/article_detail')}/{$a.category_id}/{$a.id}">{$a.title}</a></div>
                    <div>{$a.desc}<a href="{:url('/article_detail')}/{$a.category_id}/{$a.id}">[ 查看... ]</a></div>
                    <div style="margin-bottom:10px">发布时间：{$a.createtime|@date="Y-m-d H:i:s"} 点击：{$a.views}</div>
                    {/volist}
                 
                </div>
                        {$data->render()}

            </div>
            <div class="right">
               
                    <div class="titles"><span>&nbsp;</span>
                        <h3>热门项目</h3>
                    </div>
                    <div class="content1">
                    <ul>
                        {volist name="hot" id="h"}
                        <li><span style="width:80px" title="阅832次">({$h.views})</span>
                            <font {if($key==0 || $key==1 || $key==2)}class="xuhao1"  {else/} class="xuhao2"{/if}>{$key+1} </font> <a href="{:url('/article_detail')}/{$h.category_id}/{$h.id}">
                                {$h.title|mb_substr=0,10}...</a>
                        </li>
                        {/volist}
                    </ul>
                    </div>
    
                    <div class="titles"><span>&nbsp;</span>
                        <h3>推荐项目</h3>
                    </div>
                    <div class="content1">
                    <ul>
                        {volist name="recommend"" id="h"}
                        <li><span style="width:80px" title="阅832次">({$h.views})</span>
                            <font {if($key==0 || $key==1 || $key==2)}class="xuhao1" {else/} class="xuhao2" {/if}>{$key+1} </font> <a href="{:url('/article_detail')}/{$h.category_id}/{$h.id}">
                                {$h.title|mb_substr=0,10}...</a>
                        </li>
                        {/volist}
                    </ul>
                    </div>
            </div>
        </div>
    </div>

    {include file="common/footer" /}
</body>

</html>