<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>招商</title>
    <meta content="招商" name="description" />
    <meta content="招商" name="keywords" />
    {include file="common/head" /}
</head>

<body>
    <script language="JavaScript" src="__CND__/static/home/js/qt.js"></script>

    {include file="common/header"/}


    <div class="main">
        <div class="pagebody">
                <ul>
                    {volist name="data" id="one"}
                    <li style="width:48%;float: left;padding-bottom: 10px;padding-right: 10px;">
                        <td>
                            <div class="titles"><span><a href="{:url('/project')}/{$one.id}">更多... </a> </span>{$one.name} </div> <div class="content2">
                                        <ul>
                                            {volist name="one.project" id="p"}
                                            <LI><span>(801)</span>
                                                <font {if($key==0 || $key==1 || $key==2)}class="xuhao1"  {else/} class="xuhao2"{/if}>{$key+1} </font> <a href="/zx/show-38.htm">
                                                    <A href="{:url('/project_detail')}/{$p.id}">{$p.name}</A>
                                            </LI>
                                            {/volist}
                
                                        </ul>
                            </div>
                        </td>
                    </li>
                    {/volist}
                
                </ul>
        </div>
    </div>
    {include file="common/footer"/}
</body>

</html>