<!--
 * @Descripttion: 
 * @Author: Jason
 * @Date: 2019-11-09 12:00:21
 * @LastEditTime: 2019-11-19 15:31:19
 -->
<div class="main">
    <div id="banner"><span>关闭</span></div>
</div>

<script type="text/javascript">
    $(function() {
        $.divselect("#divselect", "#inputselect");
    });
</script>
<div class="top1">
    <div class="main">
        <span>
            <div>
                <ul class="menu">
                    <li><a href="{:url('/help')}" target="_blank">使用帮助</a></li>
                    <li><a href="javascript:void(0)"
                            onClick="this.style.behavior='url(#default#homepage)';this.setHomePage('');">设为首页</a>
                    </li>
                    <li><a
                            href="javascript:window.external.addFavorite('/','zzcms项目加盟模板演示站');">收藏本站</a>
                    </li>
                    <li><a>手机站</a> 
                    <ol class="sub">
                            <li><img src="{$web.web_ewm}" width="100"></li>
                        </ol>
                    </li>
                </ul>
            </div>

        </span>
        <h3>

            {if condition="$user.nickname" neq null} 您好！
            <b>{$user.nickname}</b>&nbsp;[ <a target="_bank" href="{:url('menber/user/index')}">进入用户中心</a>&nbsp;|&nbsp;<a href="{:url('menber/user/logout')}">安全退出</a> ]&nbsp; {else/} 欢迎来到 {$web.web_name}站！
            <a href="{:url('menber/user/login')}" target='_blank'>登录</a> <a href="{:url('menber/user/register')}" target='_blank'>免费注册</a> {/if}
        </h3>
    </div>
</div>

<div class="bgcolor1">
    <div class="main">
        <table width="100%" border="0" cellpadding="5" cellspacing="0">
            <tr>
                <td width="300">
                    <a href="/"><img src="{$web.web_logo}" border="0" alt="{$web.web_name}"></a>
                </td>
                <td>
                    <form action="{:url('/search')}" method="post">
                        <div id="divselect">
                            <select name="type" style="width: 60px;height: 40px;background-color: #fff;font-size: 16px;">
                                <option value="project">招 商</option>
                                <option value="article">资 讯</option>
                            </select>
                        </div>
                        <input name="keyword" type="text" size="38" class="biaodan_search" autocomplete="off" x-webkit-speech />
                        <input  type="submit" border="0" class="buttons_search" value="搜索" />
                    </form>
                </td>
                <td width="240" align="center">
                    <div class="bigbigword3 red">{$web.web_phone|substr=0,3}-{$web.web_phone|substr=3,4}-{$web.web_phone|substr=7,4}</div>
                    <div>客服时间: 8:30 - 18:00</div>
                </td>
            </tr>
        </table>

    </div>
</div>

<div class="nav2">
    <div class="main">
        <ul>
            <li class="current"><a>创业好项目</a></li>
            <li class="current"><a href="{:url('/')}">首页</a></li>
            {volist name="project_cate" id="c"}
            <li><a href="{:url('/project')}/{$c.id}">{$c.name}</a></li>
            {/volist}
            <li><a href="{:url('/article')}">资讯</a></li>
            <li><a href="{:url('/ranking')}">排行</a></li>
            <li><a href="{:url('/help')}">帮助</a></li>
        </ul>
    </div>
</div>

{if $url != "Indexindex"}   
<div class="item2">
    <div class="main">
        {volist name="article_cate" id="p"}
        <a href="{:url('/article_list')}/{$p.id}">{$p.name}</a> {/volist}
    </div>
</div>
{/if}