<div class="main">
    <div id="banner"><span>关闭</span></div>
</div>

<script type="text/javascript">
    $(function() {
        $.divselect("#divselect", "#inputselect");
    });
</script>
<div class="top1">
    <div class="main">
        <span>
            <div>
                <ul class="menu">
                    <li><a href="/help.htm" target="_blank">使用帮助</a></li>
                    <li><a href="javascript:void(0)"
                            onClick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://3158.zzcms.net');">设为首页</a>
                    </li>
                    <li><a
                            href="javascript:window.external.addFavorite('http://3158.zzcms.net','zzcms项目加盟模板演示站');">收藏本站</a>
                    </li>
                    <li><a>手机站</a>
                        <ol class="sub">
                            <li><img src="__CDN__/static/home/picture/ewm_xm.png" width="100"></li>
                        </ol>
                    </li>

                </ul>
            </div>

        </span>
        <h3>

            {if condition="$user.nickname" neq null} 您好！
            <b>{$user.nickname}</b>&nbsp;[ <a href="{:url('menber/user/index')}">进入用户中心</a>&nbsp;|&nbsp;<a href="{:url('menber/user/logout')}">安全退出</a> ]&nbsp; {else/} 欢迎来到zzcms项目加盟模板演示站！
            <a href="{:url('menber/user/login')}" target='_blank'>登录</a> <a href="{:url('menber/user/register')}" target='_blank'>免费注册</a> {/if}
        </h3>
    </div>
</div>

<div class="bgcolor1">
    <div class="main">
        <table width="100%" border="0" cellpadding="5" cellspacing="0">
            <tr>
                <td width="300">
                    <a href="http://3158.zzcms.net"><img src="__CDN__/static/home/picture/logo.png" border="0" alt="&lt;h1&gt;zzcms专业做招商网的程序源码&lt;/h1&gt;"></a>
                </td>
                <td>
                    <form action="/one/forsearch.php" method="get">
                        <div id="divselect">
                            <cite>招商</cite>
                            <ul>
                                <li><a href="javascript:;" selectid="zs">招商</a></li>
                                <li><a href="javascript:;" selectid="zx">资讯</a></li>
                            </ul>
                        </div>
                        <input name="kind" type="hidden" value="zs" id="inputselect" />
                        <input name="keyword" type="text" size="38" class="biaodan_search" autocomplete="off" x-webkit-speech /><input name="search" type="submit" border="0" class="buttons_search" value="搜索" />
                    </form>
                </td>
                <td width="100" align="center">
                    <input name="fbdl" type="button" border="0" id="fbdl" value="登记代理信息" onclick="window.open('http://3158.zzcms.net/dl/dladd.php')" /> </td>
                <td width="240" align="center">
                    <div class="bigbigword3 red">400-728-9861</div>
                    <div>客服电话: 8:30 - 18:00</div>
                </td>
            </tr>
        </table>

    </div>
</div>

<div class="nav2" id="nav">
    <div class="main">
        <ul>
            <li class="current"><a href="{:url('/')}">首页</a></li>
            {volist name="project_cate" id="c"}
            <li><a href="{:url('/project')}">{$c.name}</a></li>
            {/volist}

            <li><a href="{:url('/article_list')}">资讯列表</a></li>
            <li><a href="{:url('/article_detail')}">资讯详情</a></li>
            <li><a href="{:url('/project')}">项目列表 </a></li>
            <li><a href="{:url('/project_detail')}">项目详情</a></li>
            <li><a href="{:url('/article')}">资讯</a></li>
            <li><a href="{:url('/ranking')}">排行</a></li>
            <li><a href="{:url('/help')}">帮助</a></li>
        </ul>
    </div>
</div>

{if $url != "Indexindex"}
<div class="item2">
    <div class="main">
        {volist name="article_cate" id="p"}
        <a href="article_list">{$p.name}</a> {/volist}
    </div>
</div>
{/if}