<!--
 * @Descripttion: 
 * @Author: Jason
 * @Date: 2019-11-09 11:47:08
 * @LastEditTime: 2019-11-09 11:52:38
 -->
<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
	<title>友情链接</title>
	{include file="mobile/head"}
</head>

<body>
		{include file="mobile/header"}
	<div class="main">
		<div class="pagebody">
			<div class="left">

				<div class="titles">
					<h3>图片广告</h3>
				</div>
				<div class="adStyle2">
					<ul>
						{volist name="image" id="a"}
						<li>
							<a href="{$a.url}" target="_blank">
								<img data-original="{$a.image}" alt="{$a.title}" src="{$a.image}"
									style="width:125px;height:94px;" style="display: inline;">
							</a>
						</li>
						{/volist}
					</ul>
				</div>
				{$image->render()}
				<!-- 图文广告 -->

				<!-- 文字链接 -->
				<div class="titles">
					<h3>文字链接</h3>
				</div>
				<div class="txtbox">
					<ul>
						{volist name="text" id="e"}
						<li class="txt">
							　<a href="{$e.url}" target='_blank'>{$e.title}</a>　|　
						</li>
						{/volist}
					</ul>
				</div>
				{$text->render()}
				<!-- 文字链接 -->

			</div>
		</div>
	</div>
	{include file="mobile/footer"}
</body>

</html>