<!--
 * @Descripttion: 
 * @Author: Jason
 * @Date: 2019-12-01 17:56:05
 * @LastEditTime: 2019-12-04 13:56:53
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{$tdk[9]->title}</title>
    <meta content="{$tdk[9]->description}" name="description" />
    <meta content="{$tdk[9]->keyword}" name="keywords" />
    <link rel="shortcut icon" href="/themes/simpleboot3/public/mobile/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__CDN__/static/mobile/css/common.css">
    <link rel="stylesheet" href="__CDN__/static/mobile/css/redundant.css">
</head>
<body>
    <header class="header second active">
        <div class="title">免责声明</div>
        <div class="search">
    </header>
    <section class="redundant">
        <div class="banner"><img src="{$web.web_logo}"></div>
        <div class="new-redundant-title">
            <span>免责声明</span>
         
            <span>DISCLAIMER</span>
        </div>
        <div class="block">
            <div class="content">
          {$data.content}
            </div>
        </div>
    </section>
    {include file="mobile/footer"}

</body>
</html>