<!--
 * @Descripttion: 
 * @Author: Jason
 * @Date: 2019-11-06 17:36:00
 * @LastEditTime: 2019-11-22 10:52:20
 -->
<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-company_name" class="control-label col-xs-12 col-sm-1">公司名称</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-company_name" data-rule="required" class="form-control" name="row[company_name]" type="text">
        </div>
    </div>
  
    <div class="form-group">
        <label for="c-address" class="control-label col-xs-12 col-sm-1">公司地址</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-address" data-rule="required" class="form-control" name="row[address]" type="text">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-1">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-11">
                <script id="container" name="row[company_desc]" type="text/plain"></script>
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-1"></label>
        <div class="col-xs-12 col-sm-4">
            <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>


  <!-- 配置文件 -->
  <script type="text/javascript" src="__CDN__/static/ueditor/ueditor.config.js"></script>
  <!-- 编辑器源码文件 -->
  <script type="text/javascript" src="__CDN__/static/ueditor/ueditor.all.js"></script>

<script>
        // 实例化编辑器 
        UE.getEditor('container');
        UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;
        UE.Editor.prototype.getActionUrl = function (action) {
            console.log(action);
            if (action == 'uploadimage' || action == 'uploadscrawl' || action == 'uploadimage') {
                return "{:url('ajax/upload')}";//此处写自定义的图片上传路径
            } else if (action == 'uploadvideo') {
                return '';
            } else {
                return this._bkGetActionUrl.call(this, action);
            }
        }   
    </script>