<!--
 * @Descripttion: 
 * @Author: Jason
 * @Date: 2019-11-06 17:36:00
 * @LastEditTime: 2019-11-25 18:56:04
 -->
<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-1">{:__('Group')}:</label>
        <div class="col-xs-12 col-sm-4">
            {foreach name="user" item="vo"}
            <input id="row[group_id]-normal"  {in name="$key" value="$row.group_id"}checked="checked"{/in} name="row[group_id]" type="radio" value="{$key}">{$vo}</label>
            {/foreach}
        </div>
    </div>


    <div class="form-group">
        <label for="c-company_name" class="control-label col-xs-12 col-sm-1">公司名称</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-company_name" data-rule="" class="form-control" name="row[company_name]" type="text" value="{$row.company_name|htmlentities}">
        </div>
    </div>
    
    <div class="form-group">
        <label for="c-address" class="control-label col-xs-12 col-sm-1">公司地址</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-address" data-rule="required" class="form-control" name="row[address]" type="text" value="{$row.address|htmlentities}">
        </div>
    </div>
<!-- 
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-1">{:__('Mobile')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-mobile" data-rule="" class="form-control" name="row[mobile]" type="text" value="{$row.mobile|htmlentities}">
        </div>
    </div>
    
    <div class="form-group">
        <label for="c-username" class="control-label col-xs-12 col-sm-1">{:__('Username')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-username" data-rule="required" class="form-control" name="row[username]" type="text" value="{$row.username|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-nickname" class="control-label col-xs-12 col-sm-1">{:__('Nickname')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-nickname" class="form-control" name="row[nickname]" type="text" value="{$row.nickname|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-password" class="control-label col-xs-12 col-sm-1">{:__('Password')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-password"  class="form-control" name="row[password]" type="text" value="" placeholder="{:__('Leave password blank if dont want to change')}" autocomplete="new-password" />
        </div>
    </div>
 
    <div class="form-group">
        <label for="c-email" class="control-label col-xs-12 col-sm-1">{:__('Email')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-email" data-rule="" class="form-control" name="row[email]" type="text" value="{$row.email|htmlentities}">
        </div>
    </div>
 
    <div class="form-group">
        <label for="c-successions" class="control-label col-xs-12 col-sm-1">{:__('Successions')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-successions" data-rule="required" class="form-control" name="row[successions]" type="number" value="{$row.successions}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-prevtime" class="control-label col-xs-12 col-sm-1">{:__('Prevtime')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-prevtime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[prevtime]" type="text" value="{$row.prevtime|datetime}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-logintime" class="control-label col-xs-12 col-sm-1">{:__('Logintime')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-logintime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[logintime]" type="text" value="{$row.logintime|datetime}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-loginip" class="control-label col-xs-12 col-sm-1">{:__('Loginip')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-loginip" data-rule="required" class="form-control" name="row[loginip]" type="text" value="{$row.loginip}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-jointime" class="control-label col-xs-12 col-sm-1">{:__('Jointime')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-jointime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[jointime]" type="text" value="{$row.jointime|datetime}">
        </div>
    </div> -->
    <div class="form-group">
        <label for="content" class="control-label col-xs-12 col-sm-1">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['normal'=>__('Normal'), 'hidden'=>__('Hidden')], $row['status'])}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-1">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-11">
                <script id="container" name="row[company_desc]" type="text/plain">{$row.company_desc}</script>
        </div>
    </div>
    
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-1"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed ">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>


 <!-- 配置文件 -->
 <script type="text/javascript" src="__CDN__/static/ueditor/ueditor.config.js"></script>
 <!-- 编辑器源码文件 -->
 <script type="text/javascript" src="__CDN__/static/ueditor/ueditor.all.js"></script>
 <script>
        // 实例化编辑器 
        UE.getEditor('container');
        UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;
        UE.Editor.prototype.getActionUrl = function (action) {
            console.log(action);
            if (action == 'uploadimage' || action == 'uploadscrawl' || action == 'catchimage') {
                return "{:url('ajax/ue_upload')}";//此处写自定义的图片上传路径
            } else if (action == 'uploadvideo') {
                return '';
            } else {
                return this._bkGetActionUrl.call(this, action);
            }
        }   
    </script>